.container {
  /* margin: 0 auto; */
}
.row {
  display: flex;
  justify-content: center;
}
.square {
  border: 0.5px solid black;
}
.active {
  background-color: black;
}
.reset-button {
  display: block;
  margin: 20px auto;
}
