@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");
body {
  background-color: slategray;
  font-family: "Fredoka", sans-serif;
}
.container {
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}
.square {
  border: 0.5px solid black;
  background-color: #fff;
}
.active {
  background-color: black;
}
.reset-button {
  display: block;
  margin: 0 auto 20px;
}
h1 {
  margin-bottom: 5px;
}
